body {
    font-family: Arial, sans-serif;
    background-color: #231f1f;
}

h1 {
    color: blue;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: green;
}

.special-text {
    font-weight: bold;
}